@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #480DBE;
  --primary--light:rgb(168 85 247);
  --secondary: #CEBAF7;
  --secondary--light:rgb(233 213 255);
  --subtitle: rgb(100 116 139);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, sans-serif;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
